/* TODO
 * Update HTML for the other SCSS files, then come back to this one
 * and refactor with new approach.
 */

:root {
	--vp-btn-bg: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.33),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1)
	);
	--vp-btn-bgh: linear-gradient(
		180deg,
		rgba(240, 240, 240, 0.33),
		rgba(0, 0, 0, 0.2)
	);
	--vp-btn-sh: inset 0 0 0 1px rgba(96, 96, 96, 0.14),
		inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06);
	--vp-btn-sha: var(--vp-btn-sh), inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.vp label {
	position: relative;
}

.vp :is([type='text'], [type='email'], [type='search'], [type='password']) {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.vp :is(button, input, optgroup, select, textarea) {
	font-size: 100%;
}
.vp :is(button, select) {
	text-transform: none;
}
.vp :is(button, [type='button'], [type='reset'], [type='submit']) {
	-webkit-appearance: button;
}
.vp :is(button, [type='button'], [type='reset'], [type='submit'])::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
.vp :is(button, [type='button'], [type='reset'], [type='submit']):-moz-focusring {
	outline: 1px dotted ButtonText;
}
.vp progress {
	vertical-align: baseline;
}
.vp [type='number']::-webkit-inner-spin-button,
.vp [type='number']::-webkit-outer-spin-button {
	height: auto;
}
.vp [type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
.vp [type='search']::-webkit-search-cancel-button,
.vp [type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
.vp ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

.vp fieldset {
	border: 0.5px solid rgba(128, 128, 128, 0.33);
	/* FIXME: why is this not affected by density choice? */
	/* padding: 0.35em 0.75em 0.625em; */
	padding: var(--vp-pad);
	margin: 0;
}
.vp legend {
	font-weight: bold;
	padding: 0 1em;
	margin-left: 1em;
	margin-bottom: 0;
}

/* Focus */

.vp :is(button, button.secondary, textarea, select):focus,
.vp label input:focus,
.vp-group > input:focus,
.vp-button:focus,
.vp-button.secondary:focus,
.vp-icon-button.vp-icon-button:focus,
.vp label :focus + .vp-label::before {
	box-shadow: var(--vp-btn-sh), 0 0 0.33em 1px rgba(8, 112, 240, 0.5);
	z-index: 1000;
}

/* Default margin */
.vp button,
.vp-button {
	margin-bottom: var(--vp-pad);
}

/* Buttons */

/* Typically: button, input type=button|submit|reset, a */

.vp button,
.vp-button,
.vp-icon-button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0 0 1px rgba(var(--vp-dim), 0.33);
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
	line-height: normal;
	color: #000;
	background-color: rgba(var(--vp-dim), 0.125);
}

/* FIXME: tight list of buttons with whitespace are spaced */

.vp button,
.vp-button {
	padding: 0.5em 1em;
	margin: 0 0.33em var(--vp-pad) 0;
	border-radius: var(--vp-corner);
	background-image: var(--vp-btn-bg);
	box-shadow: var(--vp-btn-sh);
}

.vp button.secondary,
.vp-button.secondary {
	color: #444;
	background: rgba(0, 0, 0, 0.01);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.vp button:hover,
.vp-button:hover {
	background-image: var(--vp-btn-bgh);
}

.vp button.secondary:hover,
.vp-button.secondary:hover {
	background: rgba(0, 0, 0, 0.04);
}

.vp button:active,
.vp button.active,
.vp-button:active,
.vp-button.active {
	background-image: var(--vp-btn-bg);
	box-shadow: var(--vp-btn-sha);
}

/* FIXME: maybe...
 * :is(.vp button, .vp-button):is(.active, :active)
 * ?
 */

.vp button.secondary:active,
.vp button.secondary.active,
.vp-button.secondary:active,
.vp-button.secondary.active {
	background: rgba(0, 0, 0, 0.02);
}

.vp button:disabled,
.vp-button:disabled,
.vp-icon-button:disabled {
	color: #888;
	cursor: not-allowed;
	background-image: none;
}

/* Button/input groups */

.vp-group {
	white-space: nowrap;
	display: flex;
}
.vp-group > input {
	margin: 0 0.5em var(--vp-pad) 0;
	outline: none;
	/* border: 1px solid rgba(var(--vp-dim), 0.75); */
	border-radius: var(--vp-corner);
	padding: 0.5em;
	background-color: rgba(var(--vp-dim), 0.02);
	/* box-shadow: var(--vp-btn-sh); */
}
.vp-group > :is(button, .vp-button, input) {
	margin-right: 0 !important;
	border-radius: 0;
}
.vp-group > input {
	border-left-width: 0 !important;
	border-right-width: 0 !important;
}
.vp-group > input:first-child {
	border-left-width: 1px !important;
}
.vp-group > input:last-child {
	border-right-width: 1px !important;
}
.vp-group > :is(button, .vp-button, input):first-child {
	border-radius: var(--vp-corner) 0 0 var(--vp-corner);
}
.vp-group > :is(button, .vp-button, input):last-child {
	border-radius: 0 var(--vp-corner) var(--vp-corner) 0;
}

/* Icon buttons */

/* NOTE: Class is referred twice for specificity. */

.vp-icon-button.vp-icon-button {
	border-radius: 4em;
	padding: 0.35em;
	margin: 0 0.5em var(--vp-pad) 0;
	width: 1.75em;
	height: 1.75em;
	background-image: none;
	box-shadow: none;
	font-size: calc(11mm / 1.75);
}
.vp-icon-button.vp-icon-button.secondary {
	background-color: rgba(var(--vp-dim), 0.125);
	box-shadow: none;
	font-size: calc(8.5mm / 1.75);
}
.vp-icon-button.vp-icon-button.priority {
	font-size: calc(13.5mm / 1.75);
}
.vp-icon-button.vp-icon-button:hover {
	background-image: none;
}
.vp-icon-button.vp-icon-button:active,
.vp-icon-button.vp-icon-button.secondary:active {
	background-image: none;
	box-shadow: var(--vp-btn-sha);
}
.vp-icon-button.vp-icon-button:disabled {
	background-image: none;
	box-shadow: none;
}

/* Keyboard input field */
/* Typically: textarea, select, input type=email|number|password|search|tel|text|url */
/* TODO: centralize/uniformize colors with rest of widgets */

/* If we had :has(), would it be wise to do label:has(input, select, textarea) ?
 * Or do we want to be explicit?
 */

label[vp-field] :is(input, select, textarea), .vp-group > input {
	outline: none;
	border: 1px solid rgba(var(--vp-dim), 0.75);
	border-radius: var(--vp-corner);
	padding: 0.5em;
	background-color: rgba(var(--vp-dim), 0.02);
}

label[vp-field] :is(input, select, textarea) {
	display: block;
	width: 100%;
	padding: 1.75em 0.5em 0.5em 0.5em;
}
label[vp-field] :disabled, .vp-group > input:disabled {
	color: rgba(var(--vp-dim), 0.75);
	cursor: not-allowed;
	background-color: rgba(var(--vp-dim), 0.125);
}
label[vp-field]:before {
	content: attr(title);
	display: block;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.67);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.625em;
	border: 1px solid transparent;
}
label[vp-field] textarea {
	height: 6em;
}
label[vp-field] :is(.lead, .follow) {
	position: absolute;
	text-align: center;
	width: 1.5em;
}
label[vp-field] .lead {
	top: 1.75em;
	left: 0.5em;
}
label[vp-field] .follow {
	top: 1.75em;
	right: 0.5em;
}
label[vp-field] .lead ~ :is(input, select, textarea) {
	padding-left: 2.5em;
}
label[vp-field] .follow ~ :is(input, select, textarea) {
	padding-right: 2.5em;
}

[vp-cell] > [vp-field] {
	width: 100%;
}

.vp label {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.vp-label,
.vp button,
.vp-button {
	margin-right: var(--vp-pad);
}

/* Checkbox, Radio */
.vp label [type='checkbox'],
.vp label [type='radio'] {
	position: absolute;
	left: -9999px;
}

/* TODO: eliminate .vp-label child, use ::after instead. */
/* FIXME: we cannot know checkbox vs radio that way! attribute name? */

.vp label [type='checkbox'] + .vp-label,
.vp label [type='radio'] + .vp-label {
	display: block;
	position: relative;
	margin-left: 2em;
}

.vp label [type='checkbox'] + .vp-label::before,
.vp label [type='radio'] + .vp-label::before {
	user-select: none;
	display: block;
	position: absolute;
	left: -2em;
	width: 1.33em;
	height: 1.33em;
	content: '';
}
.vp label [type='checkbox'] + .vp-label::before,
.vp label [type='radio'] + .vp-label::before {
	border: 1px solid #333;
	background-color: #fff;
}

.vp label [type='checkbox'] + .vp-label::before,
.vp label [type='radio'] + .vp-label::before {
	border-radius: 0.125em;
	background-size: cover;
	padding: 0.1em;
}
.vp label [type='radio'] + .vp-label::before {
	border-radius: 100rem;
}

.vp label [type='checkbox']:checked + .vp-label::before {
	background-color: #333;
	background-image: inline('icons/check-white.svg');
}
.vp label [type='radio']:checked + .vp-label::before {
	/* FIXME: not perfectly centered */
	background-color: #333;
	background-image: inline('icons/dot-white.svg');
}

.vp label :disabled + .vp-label {
	color: #888;
}
.vp label [type='checkbox']:disabled + .vp-label::before {
	background-color: #888;
}
.vp label :disabled + .vp-label::before {
	border-color: #888;
	cursor: not-allowed;
}

/*
 * file
 *
 * image
 *
 * radio
 *
 * color
 *
 * range
 *
 * date
 * datetime-local
 * month
 * week
 * time
 */

/* Responsive */

/* No fine pointer: finger target sizes */
@media not (only screen and (any-pointer: fine)) {
	.vp-icon-button.vp-icon-button {
		font-size: calc(15mm / 1.75);
	}
	.vp-icon-button.vp-icon-button.secondary {
		font-size: calc(11mm / 1.75);
	}
	.vp-icon-button.vp-icon-button.priority {
		font-size: calc(19mm / 1.75);
	}

	.vp-label,
	.vp button,
	.vp-button,
	.vp [type='submit'],
	.vp [type='reset'],
	.vp [type='button'],
	.vp label [type='checkbox'] + .vp-label::before,
	.vp label [type='radio'] + .vp-label::before {
		min-width: 15mm;
		min-height: 15mm;
	}
	.vp button,
	.vp-button {
		line-height: calc(15mm - 1em);
	}

	.vp button.secondary,
	.vp label.secondary,
	.vp input.secondary,
	.vp-button.secondary {
		min-width: 11mm;
		min-height: 11mm;
		line-height: calc(11mm - 1em);
	}

	.vp button.priority,
	.vp label.priority,
	.vp input.priority,
	.vp-button.priority {
		min-width: 19mm;
		min-height: 19mm;
		line-height: calc(19mm - 1em);
	}

	.vp label [type='checkbox'] + .vp-label::before,
	.vp label [type='radio'] + .vp-label::before {
		border-width: 2px;
		left: calc(-15mm - 1mm);
	}
	.vp label [type='checkbox'] + .vp-label,
	.vp label [type='radio'] + .vp-label {
		margin-left: calc(15mm + 1mm);
	}
}
