@layer vp.util {
	/* Growing input field */
	input.vp-growing {
		box-sizing: content-box;
		width: 3em;
	}

	/* Button/input groups */

	.vp-group {
		white-space: nowrap;
		display: flex;
	}
	.vp-group.growing > :is(input, select, textarea) {
		flex-grow: 1;
	}
	.vp-group > :is(input, select, textarea) {
		margin: 0 0 var(--vp-pad) 0;
		outline: none;
		border: var(--vp-thin) solid var(--vp-dim3);
		border-left-width: 0;
		border-right-width: 0;
		border-radius: var(--vp-corner);
		padding: 0.5em;
	}
	.vp-group > :is(input, select, textarea) + :is(input, select, textarea) {
		border-left-width: var(--vp-thin);
	}
	.vp-group > :is(button, .vp-button, input, select, textarea) {
		margin-right: 0;
		border-radius: 0;
	}
	.vp-group > :is(input, select, textarea):first-child {
		border-left-width: var(--vp-thin);
	}
	.vp-group > :is(input, select, textarea):last-child {
		border-right-width: var(--vp-thin);
	}
	.vp-group > :is(button, .vp-button, input, select, textarea):first-child {
		border-radius: var(--vp-corner) 0 0 var(--vp-corner);
	}
	.vp-group > :is(button, .vp-button, input, select, textarea):last-child {
		border-radius: 0 var(--vp-corner) var(--vp-corner) 0;
	}

	@media (any-pointer: coarse) {
		:is(button, .vp-button, label, input, .vp-field):not([type='checkbox'], [type='radio']).secondary:is(.vp, .vp *):not(.xvp, .xvp *) {
			min-width: var(--vp-touch-min);
			min-height: var(--vp-touch-min);
			line-height: calc(var(--vp-touch-min) - 1em);
		}

		:is(button, .vp-button, label, input, .vp-field):not([type='checkbox'], [type='radio']).priority:is(.vp, .vp *):not(.xvp, .xvp *) {
			min-width: var(--vp-touch-max);
			min-height: var(--vp-touch-max);
			line-height: calc(var(--vp-touch-max) - 1em);
		}
	}
}

@layer vp.components {
	:root {
		--vp-btn-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
		--vp-btn-bgh: linear-gradient(180deg, rgba(240, 240, 240, 0.33), rgba(0, 0, 0, 0.2));
		--vp-btn-sh: inset 0 0 0 1px rgba(96, 96, 96, 0.14), inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06);
		--vp-btn-sha: var(--vp-btn-sh), inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
	}

	label:is(.vp, .vp *):not(.xvp, .xvp *) {
		position: relative;
	}

	:is([type='text'], [type='email'], [type='search'], [type='password']):is(.vp, .vp *):not(.xvp, .xvp *) {
		appearance: none;
	}
	:is(button, input, optgroup, select, textarea):is(.vp, .vp *):not(.xvp, .xvp *) {
		font-size: var(--vp-font-size);
	}
	:is(button, select):is(.vp, .vp *):not(.xvp, .xvp *) {
		text-transform: none;
	}
	:is(button, [type='button'], [type='reset'], [type='submit']):is(.vp, .vp *):not(.xvp, .xvp *) {
		appearance: button;
	}
	:is(button, [type='button'], [type='reset'], [type='submit']):is(.vp, .vp *):not(.xvp, .xvp *)::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	:is(button, [type='button'], [type='reset'], [type='submit']):is(.vp, .vp *):not(.xvp, .xvp *):-moz-focusring {
		outline: 1px dotted ButtonText;
	}
	progress:is(.vp, .vp *):not(.xvp, .xvp *) {
		vertical-align: baseline;
	}
	[type='number']:is(.vp, .vp *):not(.xvp, .xvp *)::-webkit-inner-spin-button,
	[type='number']:is(.vp, .vp *):not(.xvp, .xvp *)::-webkit-outer-spin-button {
		height: auto;
	}
	[type='search']:is(.vp, .vp *):not(.xvp, .xvp *) {
		appearance: textfield;
		outline-offset: -2px;
	}
	[type='search']:is(.vp, .vp *):not(.xvp, .xvp *)::-webkit-search-cancel-button,
	[type='search']:is(.vp, .vp *):not(.xvp, .xvp *)::-webkit-search-decoration {
		appearance: none;
	}
	:is(.vp, .vp *):not(.xvp, .xvp *)::-webkit-file-upload-button {
		appearance: button;
		font: inherit;
	}

	fieldset:is(.vp, .vp *):not(.xvp, .xvp *) {
		border: var(--vp-thin) solid var(--vp-dim2);
		padding: var(--vp-pad);
		margin: 0;
	}
	legend:is(.vp, .vp *):not(.xvp, .xvp *) {
		font-weight: bold;
		padding: 0 1em;
		margin-left: 1em;
		margin-bottom: 0;
	}

	/* Focus */

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	input:not([type='checkbox'], [type='radio']):not(.vp-field *):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	:is(textarea, select):not(.vp-field *):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	.vp-group > input:focus,
	.vp-field:focus-within {
		box-shadow: 0 0 0 var(--vp-thin) rgba(var(--vp-blue), 0.75);
		border-color: rgba(var(--vp-blue), 0.75);
	}
	input:is(.has-invalid, .has-warning):not([type='checkbox'], [type='radio']):not(.vp-field *):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	:is(textarea, select):is(.has-invalid > *, .has-warning > *):not(.vp-field *):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	.vp-group > input:invalid:focus,
	.vp-field:is(.has-invalid, .has-warning):focus-within {
		box-shadow: 0 0 0 calc(var(--vp-thin) * 2) rgba(var(--vp-orange), 0.75);
		border-color: rgba(var(--vp-orange), 0.75);
	}
	input:is([type='checkbox'], [type='radio']):is(.vp, .vp *):not(.xvp, .xvp *):focus,
	vp-tabs > :first-child > :focus {
		outline-color: rgba(var(--vp-blue), 0.75);
	}
	input:is([type='checkbox'], [type='radio']):is(.vp, .vp *):not(.xvp, .xvp *):invalid:focus {
		outline-color: rgba(var(--vp-orange), 0.75);
	}
	.vp-field:focus-within {
		color: rgba(var(--vp-blue), 0.75);
		font-weight: bold;
	}

	/* Default margin */
	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *) {
		margin-bottom: var(--vp-pad);
	}

	/* Buttons */

	/* Typically: button, input type=button|submit|reset, a */

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *) {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		text-shadow: 0 0 1px var(--vp-dim2);
		cursor: pointer;
		user-select: none;
		border: none;
		outline: none;
		line-height: normal;
		color: #000;
		background-color: rgba(var(--vp-dim), 0.125);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *) {
		padding: 0.5em 1em;
		margin: 0 0.33em var(--vp-pad) 0;
		border-radius: var(--vp-corner);
		background-image: var(--vp-btn-bg);
		box-shadow: var(--vp-btn-sh);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *).secondary {
		color: #444;
		background: rgba(0, 0, 0, 0.01);
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *):hover {
		background-image: var(--vp-btn-bgh);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *).secondary:hover {
		background: rgba(0, 0, 0, 0.04);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *):is(:active, .active) {
		background-image: var(--vp-btn-bg);
		box-shadow: var(--vp-btn-sha);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *).secondary:is(:active, .active) {
		background: rgba(0, 0, 0, 0.02);
	}

	:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *):is(:disabled, .disabled) {
		color: rgb(var(--vp-dim));
		cursor: not-allowed;
		background-image: none;
	}

	/* Keyboard input field */
	/* Typically: textarea, select, input type=email|number|password|search|tel|text|url */

	.vp-field,
	.vp-field + .vp-group > *,
	.vp-field + :is(button, .vp-button, [type='submit'], [type='reset'], [type='button']) {
		min-width: var(--vp-touch-min);
		min-height: var(--vp-touch-min);
	}
	.vp-field {
		position: relative;
		display: block;
		height: fit-content;
		font-size: 75%;
		color: rgba(0, 0, 0, 0.67);
		padding: 0 calc(var(--vp-pad) / 2) var(--vp-pad-min) calc(var(--vp-pad) / 2);
		border: var(--vp-thin) solid var(--vp-dim3);
		border-radius: var(--vp-corner);
	}
	.vp-field *:not(optgroup, option, b) {
		color: rgba(0, 0, 0, 0.5);
		font-weight: normal;
	}
	.vp-field :is(input, select, textarea) {
		outline: none;
		color: #000;
		background-color: transparent;
		font-weight: normal;
		display: block;
		width: 100%;
		border: none;
	}
	[vp-grid] > * > .vp-field {
		width: 100%;
	}
	.vp-field > div {
		white-space: nowrap;
		display: flex;
	}
	.vp-field > div > * + * {
		margin-left: calc(var(--vp-pad) / 2);
	}
	.vp-field > div > :not(input, select, textarea) {
		font-size: 125%;
	}
	.vp-field > div > :is(input, select, textarea) {
		flex-grow: 1;
	}

	.vp-field:is(.has-warning, .has-invalid) {
		border: calc(var(--vp-thin) * 2) solid rgb(var(--vp-orange));
		color: rgba(var(--vp-orange), 0.75);
	}

	.vp-field:has(:disabled),
	.vp-field :disabled,
	.vp-group > input:disabled {
		color: var(--vp-dim3);
		cursor: not-allowed;
	}
	.vp-field:has(:disabled) {
		background-color: var(--vp-dim1);
	}
	.vp-field textarea {
		height: calc(var(--vp-line) * 2);
	}

	label:is(.vp, .vp *):not(.xvp, .xvp *) {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}

	:is(.vp-label, button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *) {
		margin-right: var(--vp-pad);
	}

	/* Checkbox, Radio */

	.vp:not(.xvp, .xvp *) {
		accent-color: rgb(var(--vp-dim));
	}

	label:is(.vp, .vp *):not(.xvp, .xvp *) :is([type='checkbox'], [type='radio']) {
		user-select: none;
		width: var(--vp-line);
		height: var(--vp-line);
		vertical-align: top;
	}

	label:is(.vp, .vp *):not(.xvp, .xvp *) :is([type='checkbox'], [type='radio']):disabled {
		cursor: not-allowed;
	}

	/*
 * file
 *
 * image
 *
 * radio
 *
 * color
 *
 * range
 *
 * date
 * datetime-local
 * month
 * week
 * time
 */

	@media (any-pointer: coarse) {
		:is(.vp-field, button, .vp-button, input, select, textarea):not([type='checkbox'], [type='radio'], label *):is(.vp, .vp *):not(.xvp, .xvp *),
		label:is(.vp, .vp *):not(.xvp, .xvp *),
		.vp-field + .vp-group > *,
		.vp-field + :is(button, .vp-button, [type='submit'], [type='reset'], [type='button']) {
			min-width: var(--vp-touch);
			min-height: var(--vp-touch);
		}
		.vp-field {
			padding: 0.625em;
		}
		:is(button, .vp-button):is(.vp, .vp *):not(.xvp, .xvp *) {
			line-height: calc(var(--vp-touch) - 1em);
		}
	}
}
