[vp-grid] {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	gap: var(--vp-pad);
	margin-top: var(--vp-pad);
	margin-bottom: var(--vp-pad);
	--vp-span: 1;
}

[vp-grid].justified {
	justify-content: space-between;
}

[vp-grid].centered {
	justify-content: space-evenly;
}

[vp-grid].growing > * {
	flex-grow: 1;
}

[vp-grid] > * {
	vertical-align: top;
	flex-basis: auto;
}

[vp-grid]:not(.xvp, .xvp *) > img,
[vp-grid]:not(.xvp, .xvp *) > a > img {
	width: 100%;
}

/* Graceful work around lack of calc(attr()) support as of 2024. */

[vp-grid='10'] {
	--vp-grid: 10;
}
[vp-grid='12'] {
	--vp-grid: 12;
}
[vp-grid='15'] {
	--vp-grid: 15;
}
[vp-grid='16'] {
	--vp-grid: 16;
}

[vp-cols='2'] {
	--vp-span: 2;
}
[vp-cols='3'] {
	--vp-span: 3;
}
[vp-cols='4'] {
	--vp-span: 4;
}
[vp-cols='5'] {
	--vp-span: 5;
}
[vp-cols='6'] {
	--vp-span: 6;
}
[vp-cols='7'] {
	--vp-span: 7;
}
[vp-cols='8'] {
	--vp-span: 8;
}
[vp-cols='9'] {
	--vp-span: 9;
}
[vp-cols='10'] {
	--vp-span: 10;
}
[vp-cols='11'] {
	--vp-span: 11;
}
[vp-cols='12'] {
	--vp-span: 12;
}
[vp-cols='13'] {
	--vp-span: 13;
}
[vp-cols='14'] {
	--vp-span: 14;
}
[vp-cols='15'] {
	--vp-span: 15;
}
[vp-cols='16'] {
	--vp-span: 16;
}

[vp-grid] > *:not(legend) {
	/* Variable: we use it in media queries as well */
	--vp-width: calc(
		(var(--vp-span) * 100% / var(--vp-grid)) - (2 * var(--vp-pad))
	);
	width: var(--vp-width);
}

@media only screen and (not (min-width: 992px)) {
	/* Tablet-down */
	[vp-grid] > * {
		flex-grow: 1;
	}
	[vp-grid].stacking > * {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) and (not (min-width: 992px)) {
	/* Tablet */
	[vp-grid='10'] {
		--vp-grid: 6;
	}
	[vp-grid='12'] {
		--vp-grid: 8;
	}
	[vp-grid='15'] {
		--vp-grid: 10;
	}
	[vp-grid='16'] {
		--vp-grid: 11;
	}
}
@media only screen and (not (min-width: 768px)) {
	/* Mobile */
	[vp-grid='10'] {
		--vp-grid: 3;
	}
	[vp-grid='12'] {
		--vp-grid: 4;
	}
	[vp-grid='15'] {
		--vp-grid: 5;
	}
	[vp-grid='16'] {
		--vp-grid: 6;
	}
}
