@layer vp.components {
	vp-note {
		--vp-col: var(--vp-dim);
		--vp-bgcol: rgba(var(--vp-col), 0.05);
		--vp-bgcolo: var(--vp-dim-05);
		display: block;
		margin-bottom: var(--vp-p-margin);
	}
	vp-note.boxed {
		position: relative;
		border: var(--vp-thin) solid rgba(var(--vp-col), 0.33);
		background-color: var(--vp-bgcol);
		border-radius: var(--vp-corner);
		padding: var(--vp-pad) var(--vp-pad) var(--vp-pad) calc(var(--vp-pad) + var(--vp-pad) + 1.5em);
	}

	vp-note::before {
		content: '\24d8';
		font-style: normal;
		font-weight: bold;
		text-transform: none;
		display: inline-block;
		text-decoration: none;
		text-align: center;
		color: rgb(var(--vp-col));
		width: 1.5em;
	}

	vp-note:is(.error, .warning)::before {
		content: '\26a0';
	}

	vp-note.error {
		--vp-col: var(--vp-red);
		--vp-bgcolo: var(--vp-red-05);
		color: rgb(var(--vp-col));
	}

	vp-note.warning {
		--vp-col: var(--vp-orange);
		--vp-bgcolo: var(--vp-orange-05);
		color: rgb(var(--vp-col));
	}

	vp-note.secondary {
		--vp-bgcol: #fff;
		--vp-bgcolo: #fff;
	}

	vp-note.ok {
		--vp-col: var(--vp-green);
		--vp-bgcolo: var(--vp-green-05);
		color: rgb(var(--vp-col));
	}

	vp-note:not(.boxed)::before {
		margin-right: calc(var(--vp-pad) / 2);
	}

	vp-note.boxed.secondary {
		padding: var(--vp-pad);
	}
	vp-note.boxed:not(.secondary)::before {
		position: absolute;
		top: var(--vp-pad);
		left: var(--vp-pad);
	}

	/* Optional triangle */

	[vp-point] {
		background-color: var(--vp-bgcolo, #fff);
	}
	[vp-point^='top-'] {
		margin-top: 0.6em;
	}
	[vp-point^='bottom-'] {
		margin-bottom: 0.6em;
	}
	[vp-point^='left-'] {
		margin-left: 0.6em;
	}
	[vp-point^='right-'] {
		margin-right: 0.6em;
	}

	[vp-point]::after {
		display: block;
		position: absolute;
		content: '';
		background-color: var(--vp-bgcolo, #fff);
		width: 0.8em;
		height: 0.8em;
		border: var(--vp-thin) solid rgba(var(--vp-col), 0.33);
		transform: rotate(45deg);
	}

	[vp-point^='top-']::after {
		top: 0;
		margin-top: -0.4em;
		border-width: var(--vp-thin) 0 0 var(--vp-thin);
	}
	[vp-point^='bottom-']::after {
		bottom: 0;
		margin-bottom: -0.4em;
		border-width: 0 var(--vp-thin) var(--vp-thin) 0;
	}
	[vp-point^='left-']::after {
		left: 0;
		margin-left: -0.4em;
		border-width: 0 0 var(--vp-thin) var(--vp-thin);
	}
	[vp-point^='right-']::after {
		right: 0;
		margin-right: -0.4em;
		border-width: var(--vp-thin) var(--vp-thin) 0 0;
	}

	[vp-point$='-left']::after {
		left: calc(var(--vp-pad) + 0.3rem);
	}
	[vp-point$='-center']::after {
		left: 50%;
		margin-left: -0.4em;
	}
	[vp-point$='-right']::after {
		right: calc(var(--vp-pad) + 0.3rem);
	}

	[vp-point$='-top']::after {
		top: var(--vp-pad);
	}
	[vp-point$='-middle']::after {
		top: 50%;
		margin-top: -0.4em;
	}
	[vp-point$='-bottom']::after {
		bottom: var(--vp-pad);
	}
}
