@layer vp.components {
	/* TODO: accordions using HTML5 details/summary */

	/* Tabs */

	.vp-tabs > :first-child {
		display: flex;
		flex-wrap: wrap;
	}
	.vp-tabs > :first-child > * {
		cursor: pointer;
		user-select: none;
		padding: var(--vp-pad) calc(2 * var(--vp-pad));
		border-bottom: 0.25em solid rgba(var(--vp-dim), 0.15);
	}
	.vp-tabs > :first-child > [aria-selected="true"] {
		font-weight: bold;
		padding: var(--vp-pad) calc(4 * var(--vp-pad));
		background-color: rgba(var(--vp-dim), 0.15);
		border-bottom-color: rgba(var(--vp-dim), 0.33);
	}

	.vp-tabs.boxed > :last-child {
		border: 0.5px solid rgba(128, 128, 128, 0.33);
	}
	.vp-tabs.boxed > :last-child > * {
		margin: var(--vp-pad);
	}
	.vp-tabs:not(.boxed) > :last-child {
		margin-top: var(--vp-pad);
	}
	.vp-tabs > :last-child > * {
		display: none;
	}
	.vp-tabs > :last-child > [aria-selected="true"] {
		display: block;
	}
}
