/* FIXME: redo with some JS to help behavior */

/* Accordions */

.vp-accordion > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
}
.vp-accordion > label {
	display: block;
}
.vp-accordion > label::before {
	content: '\25ba';
	display: inline-block;
	margin: 0 0.5em;
	transition: transform 300ms; /* FIXME: wrong file */
}
.vp-accordion > :checked + label::before {
	transform: rotate(90deg);
}
.vp-accordion > :checked + label + div {
	visibility: visible;
	height: auto;
	opacity: 1;
}

/* Tabs */

/* TODO:
 * - Confirm keyboard navigation
 * - Prescribe ARIA roles and properties
 */

.vp-accordion > input,
.vp-tabs > input {
	display: none;
	margin-bottom: var(--vp-pad);
}
.vp-tabs > div {
	clear: both;
	visibility: hidden;
	height: 0;
	opacity: 0;
	overflow: hidden;
}
.vp-tabs > label {
	display: inline-block;
	user-select: none;
	cursor: pointer;
	float: left;
	padding: var(--vp-pad) calc(2 * var(--vp-pad));
	border-bottom: 0.25em solid rgba(var(--vp-dim), 0.15);
}
.vp-tabs > :checked + label {
	font-weight: bold;
	padding: var(--vp-pad) calc(4 * var(--vp-pad));
	background-color: rgba(var(--vp-dim), 0.15);
	border-bottom-color: rgba(var(--vp-dim), 0.33);
}
.vp-tabs > :checked:nth-of-type(1) ~ div:nth-of-type(1),
.vp-tabs > :checked:nth-of-type(2) ~ div:nth-of-type(2),
.vp-tabs > :checked:nth-of-type(3) ~ div:nth-of-type(3),
.vp-tabs > :checked:nth-of-type(4) ~ div:nth-of-type(4),
.vp-tabs > :checked:nth-of-type(5) ~ div:nth-of-type(5),
.vp-tabs > :checked:nth-of-type(6) ~ div:nth-of-type(6),
.vp-tabs > :checked:nth-of-type(7) ~ div:nth-of-type(7),
.vp-tabs > :checked:nth-of-type(8) ~ div:nth-of-type(8) {
	visibility: visible;
	height: auto;
	opacity: 1;
	overflow: auto;
}
