/* FIXME: do we need JS here? Is this touch-friendly enough?
 * Can we have an attribute when we don't need markup in it?
 */

/* Tooltips */

[vp-tooltip]:not(.xvp, .xvp *) {
	position: relative;
}
vp-tooltip:not(.xvp, .xvp *),
[vp-tooltip]:not(.xvp, .xvp *)::before {
	display: none;
	position: absolute;
	min-width: min-content;
	max-width: var(--vp-min-width);
	border: 1px solid rgba(var(--vp-dim), 0.5);
	background-color: white;
	z-index: 1100;
	padding: 0.75em;
	border-radius: 0.2em;
	box-shadow: 2px 2px 6px 2px rgba(var(--vp-dim), 0.3);
	white-space: nowrap;
	/* Align: left by default */
	left: 0;
	right: auto;
	/* Position: above by default */
	bottom: 100%;
	margin-bottom: 0.75em;
	top: auto;
}
vp-tooltip[_right]:not(.xvp, .xvp *),
[vp-tooltip][vp-tooltip-right]:not(.xvp, .xvp *)::before {
	left: auto;
	right: 0;
}
[vp-tooltip]:not(.xvp, .xvp *)::before {
	content: attr(vp-tooltip);
}
vp-tooltip[_below]:not(.xvp, .xvp *),
[vp-tooltip][vp-tooltip-below]:not(.xvp, .xvp *)::before {
	top: 100%;
	margin-top: 0.75em;
	bottom: auto;
}
vp-tooltip:not(.xvp, .xvp *)::before,
[vp-tooltip]:not(.xvp, .xvp *)::after {
	display: block;
	position: absolute;
	content: '';
	background-color: white;
	width: 0.75em;
	height: 0.75em;
	box-shadow: 1px 1px 0 0px rgba(var(--vp-dim), 0.5);
	/* Align: left by default */
	right: auto;
	left: 1em;
	/* Position: above by default */
	top: auto;
	bottom: 0;
	margin-bottom: -0.4em;
	transform: rotate(45deg);
}
[vp-tooltip]:not(.xvp, .xvp *)::after {
	display: none;
	top: -1.2em;
	bottom: auto;
	z-index: 1101;
}
vp-tooltip[_below]:not(.xvp, .xvp *)::before {
	top: 0;
	bottom: auto;
	margin-top: -0.4em;
	transform: rotate(-135deg);
}
[vp-tooltip][vp-tooltip-below]:not(.xvp, .xvp *)::after {
	top: auto;
	bottom: -0.8em;
	transform: rotate(-135deg);
}
vp-tooltip[_right]:not(.xvp, .xvp *)::before,
[vp-tooltip][vp-tooltip-right]:not(.xvp, .xvp *)::after {
	left: auto;
	right: 1em;
}

/* Activation */

:is(:active, :focus):not(.xvp, .xvp *) + vp-tooltip,
[vp-tooltip]:is(:active, :focus):not(.xvp, .xvp *)::before,
[vp-tooltip]:is(:active, :focus):not(.xvp, .xvp *)::after {
	display: block;
}
