@layer vp.util {
	:root {
		--vp-trans: 125ms;
		/* --vp-trans-slow: 2500ms; */
		/* --vp-delay: 0.05s; */
	}

	/* FIXME: for opacity, could we make the disappearing one vanish during the
 * appearing one's pre-transition delay (second argument)?
 */
	.vp-loaded:is(.vp, .vp *):not(.xvp, .xvp *) * {
		transition:
			background-color var(--vp-trans),
			padding var(--vp-trans);
	}

	.vp-loaded:is(.vp, .vp *):not(.xvp, .xvp *) [class*='go-'] {
		animation-iteration-count: 1;
		animation-duration: var(--vp-trans);
		animation-timing-function: ease;
		animation-fill-mode: both;
		backface-visibility: hidden;
	}

	.vp-loaded:is(.vp, .vp *):not(.xvp, .xvp *) .go-hidden {
		animation-name: vp-fade-out;
	}

	.vp-loaded:is(.vp, .vp *):not(.xvp, .xvp *) .go-visible {
		animation-name: vp-fade-in;
	}

	@keyframes vp-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes vp-fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
