@import "_lib.scss";

/* Focus */

.pgn-form button:focus,
.pgn-form button.is-secondary:focus,
.pgn-form label input:focus,
.pgn-form textarea:focus,
.pgn-form select:focus,
.pgn-button:focus,
.pgn-button.is-secondary:focus,
.pgn-icon-button.pgn-icon-button:focus,
.pgn-form label :focus + .pgn-label::before {
	box-shadow: inset 0 0 0 1px rgba(96, 96, 96, 0.14),
		inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06),
		0 0 0.33em 1px rgba(8, 112, 240, 0.5);
	z-index: 1000;
}

.pgn-form label :focus + .pgn-label::after {
	z-index: 1001;
}

/* Default margin */
.pgn-form button,
.pgn-button {
	/* FIXME: should depend on density */
	margin-bottom: $padding-spaced;
}

/* Buttons */

/* Typically: button, input type=button|submit|reset, a */

.pgn-form button,
.pgn-button,
.pgn-icon-button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0 0 1px rgba($color-dim, 0.33);
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
	line-height: normal;
	color: #000;
	background-color: rgba($color-dim, 0.125);
}

.pgn-form button,
.pgn-button {
	padding: 0.5em 1em;
	/* FIXME: bottom should depend on density */
	margin: 0 0.33em $padding-spaced 0;
	border-radius: $small-radius;
	background-image: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.33),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1)
	);
	box-shadow: inset 0 0 0 1px rgba(96, 96, 96, 0.14),
		inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06);
}

.pgn-form button.is-secondary,
.pgn-button.is-secondary {
	color: #444;
	background: rgba(0, 0, 0, 0.01);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.pgn-form button:hover,
.pgn-button:hover {
	background-image: linear-gradient(
		180deg,
		rgba(240, 240, 240, 0.33),
		rgba(0, 0, 0, 0.2)
	);
}

.pgn-form button.is-secondary:hover,
.pgn-button.is-secondary:hover {
	background: rgba(0, 0, 0, 0.04);
}

.pgn-form button:active,
.pgn-form button.is-active,
.pgn-button:active,
.pgn-button.is-active {
	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.33),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1)
	);
	box-shadow: inset 0 0 0 1px rgba(96, 96, 96, 0.14),
		inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06),
		inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.pgn-form button.is-secondary:active,
.pgn-form button.is-secondary.is-active,
.pgn-button.is-secondary:active,
.pgn-button.is-secondary.is-active {
	background: rgba(0, 0, 0, 0.02);
}

.pgn-form button:disabled,
.pgn-button:disabled,
.pgn-icon-button:disabled {
	color: #888;
	cursor: not-allowed;
	cursor: no-drop;
	background-image: none;
}

/* Button groups */

.pgn-group {
	white-space: nowrap;
	display: flex;
}

.pgn-group > button,
.pgn-group > .pgn-button {
	margin-right: 0;
}

.pgn-group > button,
.pgn-group > .pgn-button {
	border-radius: 0;
}
.pgn-group > button:first-child,
.pgn-group > .pgn-button:first-child {
	border-radius: $small-radius 0 0 $small-radius;
}

.pgn-group > button:last-child,
.pgn-group > .pgn-button:last-child {
	border-radius: 0 $small-radius $small-radius 0;
}

/* Icon buttons */

/* NOTE: Class is referred twice for specificity. */

.pgn-icon-button.pgn-icon-button {
	border-radius: 4em;
	padding: 0.35em;
	/* FIXME: bottom should depend on density */
	margin: 0 0.5em $padding-spaced 0;
	width: 1.75em;
	height: 1.75em;
	background-image: none;
	box-shadow: none;
	font-size: calc(11mm / 1.75);
}
.pgn-icon-button.pgn-icon-button.is-secondary {
	background-color: rgba($color-dim, 0.125);
	box-shadow: none;
	font-size: calc(8.5mm / 1.75);
}
.pgn-icon-button.pgn-icon-button.is-priority {
	font-size: calc(13.5mm / 1.75);
}
.pgn-icon-button.pgn-icon-button:hover {
	background-image: none;
}
.pgn-icon-button.pgn-icon-button:active,
.pgn-icon-button.pgn-icon-button.is-secondary:active {
	background-image: none;
	box-shadow: inset 0 0 0 1px rgba(96, 96, 96, 0.14),
		inset 0 -1px 1px 0 rgba(96, 96, 96, 0.06),
		inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}
.pgn-icon-button.pgn-icon-button:disabled {
	background-image: none;
	box-shadow: none;
}

/* Keyboard input field */
/* Typically: textarea, select, input type=email|number|password|search|tel|text|url */
/* TODO: centralize/uniformize colors with rest of widgets */
label.pgn-field input,
label.pgn-field select,
label.pgn-field textarea {
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid rgba($color-dim, 0.75);
	border-radius: 0.2em;
	padding: 1.75em 0.5em 0.5em 0.5em;
	background-color: rgba($color-dim, 0.02);
}
label.pgn-field :disabled {
	color: rgba($color-dim, 0.75);
	cursor: not-allowed;
	cursor: no-drop;
	background-color: rgba($color-dim, 0.125);
}
label.pgn-field .pgn-label {
	display: block;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.67);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.625em;
	border: 1px solid transparent;
}
label.pgn-field textarea {
	height: 6em;
}

[class*="pgn-col-"] > .pgn-field {
	width: 100%;
}

.pgn-form label {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

form.pgn-density-spaced .pgn-label {
	margin-right: $padding-spaced;
}
form.pgn-density-relaxed .pgn-label,
form.pgn-density-relaxed button,
form.pgn-density-relaxed .pgn-button {
	margin-right: $padding-relaxed;
}

/* Checkbox, Radio */
.pgn-form label [type="checkbox"],
.pgn-form label [type="radio"] {
	position: absolute;
	left: -9999px;
}

.pgn-form label [type="checkbox"] + .pgn-label,
.pgn-form label [type="radio"] + .pgn-label {
	display: block;
	position: relative;
	margin-left: 2em;
}

.pgn-form label [type="checkbox"] + .pgn-label::before,
.pgn-form label [type="radio"] + .pgn-label::before,
.pgn-form label [type="radio"]:checked + .pgn-label::after {
	user-select: none;
	display: block;
	position: absolute;
	left: -2em;
	width: 1.33em;
	height: 1.33em;
	content: "";
}
.pgn-form label [type="checkbox"] + .pgn-label::before,
.pgn-form label [type="radio"] + .pgn-label::before {
	border: 1px solid #333;
	background-color: #fff;
}
.pgn-form label [type="radio"] + .pgn-label::after {
	top: 0;
	border-radius: 100rem;
	background-color: #333;
	transform: scale(0.45);
}

.pgn-form label [type="checkbox"] + .pgn-label::before {
	border-radius: $tiny-radius;
	background-size: cover;
	padding: 0.1em;
}
.pgn-form label [type="radio"] + .pgn-label::before {
	border-radius: 100rem;
}

.pgn-form label [type="checkbox"]:checked + .pgn-label::before {
	background-color: #333;
	background-image: inline("icons/check-white.svg");
}

.pgn-form label :disabled + .pgn-label {
	color: #888;
}
.pgn-form label [type="checkbox"]:disabled + .pgn-label::before {
	background-color: #888;
}
.pgn-form label :disabled + .pgn-label::before {
	border-color: #888;
	cursor: not-allowed;
	cursor: no-drop;
}

/*
 * file
 *
 * image
 *
 * radio
 *
 * color
 *
 * range
 *
 * date
 * datetime-local
 * month
 * week
 * time
 */

/* Responsive */

@include media-touch {
	.pgn-icon-button.pgn-icon-button {
		font-size: calc(15mm / 1.75);
	}
	.pgn-icon-button.pgn-icon-button.is-secondary {
		font-size: calc(11mm / 1.75);
	}
	.pgn-icon-button.pgn-icon-button.is-priority {
		font-size: calc(19mm / 1.75);
	}

	.pgn-label,
	.pgn-form button,
	.pgn-button,
	.pgn-form [type="submit"],
	.pgn-form [type="reset"],
	.pgn-form [type="button"],
	.pgn-form label [type="checkbox"] + .pgn-label::before,
	.pgn-form label [type="radio"] + .pgn-label::before,
	.pgn-form label [type="radio"]:checked + .pgn-label::after {
		min-width: 15mm;
		min-height: 15mm;
	}
	.pgn-form button,
	.pgn-button {
		line-height: calc(15mm - 1em);
	}

	.pgn-form button.is-secondary,
	.pgn-form label.is-secondary,
	.pgn-form input.is-secondary,
	.pgn-button.is-secondary {
		min-width: 11mm;
		min-height: 11mm;
		line-height: calc(11mm - 1em);
	}

	.pgn-form button.is-priority,
	.pgn-form label.is-priority,
	.pgn-form input.is-priority,
	.pgn-button.is-priority {
		min-width: 19mm;
		min-height: 19mm;
		line-height: calc(19mm - 1em);
	}

	.pgn-form label [type="checkbox"] + .pgn-label::before,
	.pgn-form label [type="radio"] + .pgn-label::before,
	.pgn-form label [type="radio"]:checked + .pgn-label::after {
		border-width: 2px;
		left: calc(-15mm - 1mm);
	}
	.pgn-form label [type="checkbox"] + .pgn-label,
	.pgn-form label [type="radio"] + .pgn-label {
		margin-left: calc(15mm + 1mm);
	}
}
