@import '_lib.scss';

[vp-grid] {
	display: flex;
	flex-flow: row wrap;
	margin: calc(-1 * var(--vp-pad));
}

[vp-grid] > * {
	vertical-align: top;
	// flex-grow: 1;
	flex-basis: calc((40rem - 100%) * 999);
	margin: var(--vp-pad);
}

[vp-grid] > img,
[vp-grid] > a > img {
	width: 100%;
}

[vp-grid='8'] {
	--vp-grid: 8;
}
[vp-grid='10'] {
	--vp-grid: 10;
}
[vp-grid='12'] {
	--vp-grid: 12;
}

[vp-cell='1'] {
	--vp-cell: 1;
}
[vp-cell='2'] {
	--vp-cell: 2;
}
[vp-cell='3'] {
	--vp-cell: 3;
}
[vp-cell='4'] {
	--vp-cell: 4;
}
[vp-cell='5'] {
	--vp-cell: 5;
}
[vp-cell='6'] {
	--vp-cell: 6;
}
[vp-cell='7'] {
	--vp-cell: 7;
}
[vp-cell='8'] {
	--vp-cell: 8;
}
[vp-cell='9'] {
	--vp-cell: 9;
}
[vp-cell='10'] {
	--vp-cell: 10;
}
[vp-cell='11'] {
	--vp-cell: 11;
}
[vp-cell='12'] {
	--vp-cell: 12;
}

[vp-grid] [vp-cell] {
	--vp-width: calc(
		(var(--vp-cell) * 100% / var(--vp-grid)) - (2 * var(--vp-pad))
	);
	min-width: var(--vp-width);
}

@include media-tablet-down {
	.vp-stacking [vp-cell] {
		width: 100%;
	}
}
@include media-tablet-only {
	.vp-doubling [vp-cell] {
		min-width: min(100%, (2 * var(--vp-width)));
	}
}
@include media-mobile-only {
	.vp-doubling [vp-cell] {
		min-width: min(100%, (4 * var(--vp-width)));
	}
}
