@import "_lib.scss";

.vp-grid {
	display: flex;
	flex-flow: row wrap;
	--vp-padding: $padding-seamless;
}

.vp-density-relaxed.vp-grid {
	margin: -$padding-relaxed;
	--vp-padding: $padding-relaxed;
}

.vp-density-spaced.vp-grid {
	margin: -$padding-spaced;
	--vp-padding: $padding-spaced;
}

.vp-grid > * {
	vertical-align: top;
	// flex-grow: 1;
	flex-basis: calc((40rem - 100%) * 999);
}

.vp-density-relaxed.vp-grid > * {
	margin: $padding-relaxed;
}

.vp-density-spaced.vp-grid > * {
	margin: $padding-spaced;
}

.vp-grid > img,
.vp-grid > a > img {
	width: 100%;
}

@include newgrid-xx(10);
@include newgrid-xx(24);

/*
[class*="vp-row-"] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

[class*="vp-col-"] {
	display: inline-block;
	vertical-align: top;
	// flex-grow: 1;
}

[class*="vp-col-"] > img,
[class*="vp-col-"] > a > img {
	width: 100%;
}

.vp-density-relaxed[class*="vp-row-"],
.vp-density-relaxed > [class*="vp-row-"] {
	margin-left: -$padding-relaxed;
	margin-right: -$padding-relaxed;
}
.vp-density-spaced[class*="vp-row-"],
.vp-density-spaced > [class*="vp-row-"] {
	margin-left: -$padding-spaced;
	margin-right: -$padding-spaced;
}

.vp-density-relaxed > [class*="vp-col-"],
.vp-density-relaxed > [class*="vp-row-"] > [class*="vp-col-"] {
	padding: $padding-relaxed;
}
.vp-density-spaced > [class*="vp-col-"],
.vp-density-spaced > [class*="vp-row-"] > [class*="vp-col-"] {
	padding: $padding-spaced;
}

@include media-tablet-down {
	.vp-stacking [class*="vp-col-"] {
		width: 100%;
	}
}
*/
