@import "_lib.scss";

/* Layout 3: header, main (expands), footer, typically on <body> */
.pgn-l-3 {
	display: flex;
	flex-direction: column;
}
.pgn-l-3 > :nth-child(2) {
	flex: 1;
}

.pgn-container {
	display: block;
	max-width: 100%;
	width: auto;
}
.pgn-density-relaxed > .pgn-container,
.pgn-density-relaxed.pgn-container {
	padding-left: $padding-relaxed;
	padding-right: $padding-relaxed;
}
.pgn-density-spaced > .pgn-container,
.pgn-density-spaced.pgn-container {
	padding-left: $padding-spaced;
	padding-right: $padding-spaced;
}

.pgn-block {
	display: block;
	width: 100%;
}

/* Utilities */
.pgn-center {
	text-align: center;
}
.pgn-justify {
	text-align: justify;
}
.pgn-right {
	text-align: right;
}

@include media-mobile-only {
	.pgn-tablet-up,
	.pgn-tablet-only,
	.pgn-desktop-only {
		display: none;
	}
}

@include media-tablet-only {
	.pgn-mobile-only,
	.pgn-desktop-only {
		display: none;
	}
}

@include media-desktop-only {
	.pgn-mobile-only,
	.pgn-tablet-only,
	.pgn-tablet-down {
		display: none;
	}
}

@include media-desktop-large {
	.pgn-container {
		max-width: $width-text-max;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Print (we generalize non-screen labeling as "print") */
@media only screen {
	.pgn-print-only {
		display: none;
	}
}
@media not screen {
	.pgn-screen-only {
		display: none;
	}
}
