@import "_lib.scss";

/* Layout 3: header, main (expands), footer, typically on <body> */
.vp-l-3 {
	display: flex;
	flex-direction: column;
}
.vp-l-3 > :nth-child(2) {
	flex: 1;
}

.vp-container {
	display: block;
	max-width: 100%;
	width: auto;
}
.vp-density-relaxed > .vp-container,
.vp-density-relaxed.vp-container {
	padding-left: $padding-relaxed;
	padding-right: $padding-relaxed;
}
.vp-density-spaced > .vp-container,
.vp-density-spaced.vp-container {
	padding-left: $padding-spaced;
	padding-right: $padding-spaced;
}

.vp-block {
	display: block;
	width: 100%;
}

/* Utilities */
.vp-center {
	text-align: center;
}
.vp-justify {
	text-align: justify;
}
.vp-right {
	text-align: right;
}

@include media-mobile-only {
	.vp-tablet-up,
	.vp-tablet-only,
	.vp-desktop-only {
		display: none;
	}
}

@include media-tablet-only {
	.vp-mobile-only,
	.vp-desktop-only {
		display: none;
	}
}

@include media-desktop-only {
	.vp-mobile-only,
	.vp-tablet-only,
	.vp-tablet-down {
		display: none;
	}
}

@include media-desktop-large {
	.vp-container {
		max-width: $width-text-max;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Print (we generalize non-screen labeling as "print") */
@media only screen {
	.vp-print-only {
		display: none;
	}
}
@media not screen {
	.vp-screen-only {
		display: none;
	}
}
