/* Portion of the core.scss reset which is global. */
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
html {
	box-sizing: border-box;
	line-height: 1.33;
	-webkit-text-size-adjust: 100%;
}
