@import '_lib.scss';

.vp table {
	position: relative;
	border-collapse: collapse;
}

.vp table th {
	background-color: rgba(var(--vp-dim), 0.2);
}

.vp table.stick-vertical thead tr > th,
.vp table.stick-vertical tfoot tr > th {
	background-color: #ddd; /* sticky -> no alpha */
	position: sticky;
	top: -1px; /* Compensate vanishing border */
	z-index: 10;
	transition: none;
}
.vp table.stick-vertical tfoot tr > th {
	bottom: -1px; /* Compensate vanishing border */
}

.vp table.stick-horizontal tr > th:first-child {
	background-color: #ddd; /* sticky -> no alpha */
	position: sticky;
	left: 0;
	z-index: 11;
	transition: none;
}

.vp table.stick-horizontal thead tr > th:first-child,
.vp table.stick-horizontal tfoot tr > th:first-child {
	z-index: 12;
}

.vp table.striped tbody tr:nth-child(even) > td {
	background-color: rgba(var(--vp-dim), 0.05);
}

.vp table tr > * {
	text-align: left;
	vertical-align: top;
}
.vp table.horizontal tbody tr > * {
	border-bottom: 0.5px solid rgba(var(--vp-dim), 0.33);
}
.vp table.gridded tr > * {
	border: 0.5px solid rgba(var(--vp-dim), 0.33);
}

@for $i from 1 through 12 {
	.vp-center-$i > tr > :nth-child($i) {
		text-align: center;
	}
}

.vp table tr > .numeric {
	text-align: right;
}
.vp table tr > * {
	padding: calc(var(--vp-pad) / 2) var(--vp-pad);
	font-size: 90%;
}

.vp table.vp-2d thead tr > *:first-child {
	border: none;
	background: transparent;
}

@include media-mobile-only {
	.vp table.stacking {
		width: 100%;
	}
	.vp table.stacking tbody tr {
		border-bottom: 2px solid rgba(var(--vp-dim), 0.33);
	}
	.vp table.stacking.stacking th,
	.vp table.stacking.stacking td {
		width: auto;
		display: block;
		border: none;
	}
}
