@import '_lib.scss';

/* Accordions */

.vp-accordion > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
}
.vp-accordion > label {
	display: block;
}
.vp-accordion > label::before {
	content: '\25ba';
	display: inline-block;
	margin: 0 0.5em;
	transition: transform 300ms; // FIXME: wrong file
}
.vp-accordion > :checked + label::before {
	transform: rotate(90deg);
}
.vp-accordion > :checked + label + div {
	visibility: visible;
	height: auto;
	opacity: 1;
}

/* Tabs */

.vp-accordion > input,
.vp-tabs > input {
	display: none;
	margin-bottom: var(--vp-pad);
}
.vp-tabs > div {
	clear: both;
	visibility: hidden;
	height: 0;
	opacity: 0;
	overflow: hidden;
}
.vp-tabs > label {
	display: inline-block;
	user-select: none;
	cursor: pointer;
	float: left;
	padding: var(--vp-pad) calc(2 * var(--vp-pad));
	border-bottom: $tiny-radius solid rgba(var(--vp-dim), 0.15);
}
.vp-tabs > :checked + label {
	background-color: rgba(var(--vp-dim), 0.15);
	border-bottom-color: rgba(var(--vp-dim), 0.33);
}
@for $i from 1 through 8 {
	.vp-tabs > :checked:nth-of-type($i) ~ div:nth-of-type($i) {
		visibility: visible;
		height: auto;
		opacity: 1;
		overflow: auto;
	}
}
