@import '_lib.scss';

$duration: 300ms;
$duration-slow: 500ms;
$delay: 0.05s;

.vp .loaded,
.vp.loaded * {
	transition: color $duration $delay, background-color $duration $delay,
		opacity $duration-slow;
}

[class*='vp-go-'] {
	animation-iteration-count: 1;
	animation-duration: $duration;
	animation-timing-function: ease;
	animation-fill-mode: both;
	backface-visibility: hidden;
}

.vp-go-hidden {
	animation-name: vp-fade-out;
}

.vp-go-visible {
	animation-name: vp-fade-in;
}

@keyframes vp-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes vp-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
